<?php
/**
 * 
 * @package _MODULENAME_
 * 
 */
namespace _MODULENAME_\Controller;

use _MODULENAME_\Model;
use Zend\Mvc\Controller\AbstractActionController;
use Zend\View\Model\ViewModel;

/**
 *
 * @package _MODULENAME_
 */
class _MODULENAME_Controller extends AbstractActionController
{
    /**
     * Index - _MODULENAME_
     * 
     * @return Zend\View\Model\ViewModel Zend View Model
     */
    public function indexAction()
    {
       
    }
  
}